# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_angra_LEFT

config ZMK_KEYBOARD_NAME
    default "angra"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_angra_LEFT || SHIELD_angra_RIGHT

config ZMK_SPLIT
    default y

endif
